/*  全体初期化*/
* {
    box-sizing: border-box;
    font-family: "メイリオ", sans-serif;
    margin: 0;
    padding: 0;
}

/*背景*/
body {
    min-height: 100%;
    background: linear-gradient(135deg, #0a3d62, #3c6382);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 外枠*/
.login-wrapper {
    width: 100%;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

/*  ログインカード*/
.login-box {
    background: #ffffff;
    width: 92vw;
    max-width: 480px;
    min-height: auto;
    padding: 6vw;
    border-radius: 3vw;
    box-shadow: 0 2vw 4vw rgba(0,0,0,0.25);
    text-align: center;
}

    /* タイトル */
    .login-box h2 {
        margin-bottom: 4vw;
        color: #0a3d62;
        font-size: clamp(20px, 5vw, 32px);
    }

    /*  ラベル */
    .login-box label {
        display: block;
        text-align: left;
        font-size: clamp(12px, 4vw, 16px);
        margin-top: 3vw;
        margin-bottom: 1.5vw;
    }

    /* 入力欄 */
    .login-box input {
        width: 100%;
        padding: 3vw;
        border-radius: 1.8vw;
        border: 1px solid #ccc;
        font-size: clamp(14px, 4vw, 16px);
    }

    /* ログインボタン */
    .login-box button {
        margin-top: 5vw;
        width: 100%;
        padding: 3.5vw;
        background: #0a3d62;
        color: #fff;
        border: none;
        border-radius: 2vw;
        font-size: clamp(14px, 4.5vw, 18px);
        cursor: pointer;
    }

        .login-box button:hover {
            opacity: 0.9;
        }

/* 戻るリンク */
.back-btn {
    display: block;
    margin-top: 4vw;
    text-decoration: none;
    color: #0a3d62;
    font-size: clamp(12px, 3.8vw, 14px);
}

/* PC用 */
@media screen and (min-width: 900px) {

    .login-box {
        width: 420px;
        padding: 32px;
        border-radius: 18px;
    }

        .login-box h2 {
            margin-bottom: 24px;
        }

        .login-box label {
            margin-top: 15px;
            margin-bottom: 6px;
        }

        .login-box input {
            padding: 12px;
        }

        .login-box button {
            padding: 14px;
        }

    .back-btn {
        margin-top: 15px;
    }
}
